<app-toolbar></app-toolbar>
<div *ngIf="plan">
  <img src="{{ plan.cover | imageUrl }}" alt="plan cover image"/>
  <p>{{ plan.title }}</p>
  <p>{{ plan.description }}</p>
  <p>bắt đầu tại: {{ plan.departure }}, vào hồi: {{ plan.start_at }}</p>
  <p>điểm đến: {{ plan.destination }}, vào hồi: {{ plan.arrival_at }}</p>
  <p>số thành viên dự kiến: {{ plan.members_quantity }}</p>
</div>
<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link *ngFor="let link of links"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>

