<h3>Friends</h3>
<mat-divider></mat-divider>
<div *ngIf="profileUser;then menu"></div>
<ng-template #menu>
  <div class="d-flex flex-column">
    <mat-form-field class="col-sm-4" *ngIf="profileUser.id == authUser.id">
      <mat-select [formControl]="selectFriendControl">
        <mat-option value="1">Friends</mat-option>
        <mat-option value="2">Sent Friend Requests</mat-option>
        <mat-option value="3">Received Friend Request</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedFriends.length > 0; then friendsList else emptyList"></div>
    <ng-template #friendsList>
      <ul class="list-unstyled row justify-content-between mx-sm-1 mt-3">
        <li *ngFor="let friend of selectedFriends" class="border rounded bg-white list-column mb-3 p-1">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column mr-4">
              <img [src]="friend.avatar | imageUrl" [alt]="friend.name" height="100px" width="100px">
            </div>
            <div class="d-flex flex-column">
              <a [routerLink]="['/users/' + friend.id + '/profile']">
                {{ friend.firstname }} {{ friend.lastname }}
              </a>
            </div>
            <div class="d-flex flex-column ml-auto" *ngIf="profileUser.id == authUser.id">
            <span>
              <button mat-icon-button [matMenuTriggerFor]="settingMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #settingMenu="matMenu">
                <button mat-menu-item
                        [style.display]="selectedType === '1' ? '' : 'none'"
                        (click)="onUnfriend(friend.id)">Unfriend</button>
                <button mat-menu-item
                        [style.display]="selectedType === '2' ? '' : 'none'"
                        (click)="onCancel(friend.id)">Cancel</button>
                <button mat-menu-item
                        [style.display]="selectedType === '3' ? '' : 'none'"
                        (click)="onConfirm(friend.id)">Accept</button>
                <button mat-menu-item
                        [style.display]="selectedType === '3' ? '' : 'none'"
                        (click)="onDecline(friend.id)">Decline</button>
              </mat-menu>
            </span>
            </div>
          </div>
        </li>
      </ul>
    </ng-template>
    <ng-template #emptyList>
      <p>you have no friend :v</p>
    </ng-template>
  </div>
</ng-template>

