<app-toolbar></app-toolbar>
<mat-toolbar>
  <button mat-stroked-button *ngFor="let tag of authTags" class="mx-1"
          [color]="tag.isSelected ? 'primary' : 'warn'"
          (click)="onSelectTag(tag)"
  >
    {{ tag.name }}
  </button>
</mat-toolbar>
<div class="container-sm">
  <ul style="list-style: none">
    <li *ngFor="let plan of plans">
      <div class="card w-50 h-50 my-3 p-1">
        <div class="row position-relative">
          <div class="col-md-4">
            <img [src]="plan.cover | imageUrl" [alt]="plan.title" class="img-fluid rounded">
          </div>
          <div class="col-md-8 position-static">
            <a [routerLink]="['/plans', plan.id]" class="stretched-link">{{ plan.title }}</a><br>
            <span class="text-secondary">{{ plan.departure }} - {{ plan.start_at }}</span><br>
            <span class="text-secondary">{{ plan.destination }} - {{ plan.arrival_at }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
