<app-comment-form [commentable]="commentableType" [postId]="postId" (newCommentEvent)="addComment($event)"></app-comment-form>
<ul>
  <li *ngFor="let comment of comments">
    <p>{{ comment.content }}</p>
    {{ comment.vote }}
    <button (click)="vote(comment.id, _COMMENT, _UP)" mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button (click)="vote(comment.id, _COMMENT, _DOWN)" mat-icon-button>
      <mat-icon>thumb_down</mat-icon>
    </button>
    <ul *ngIf="comment.replies.length > 0">
      <li *ngFor="let reply of comment.replies">
        <p>{{ reply.content }}</p>
        {{ reply.vote }}
        <button (click)="vote(reply.id, _COMMENT, _UP)" mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button (click)="vote(reply.id, _COMMENT, _DOWN)" mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button>
      </li>
    </ul>
    <app-reply-form [parentId]="comment.id" [commentable]="commentableType" [postId]="postId" (newReplyEvent)="addReply($event)"></app-reply-form>
  </li>
</ul>
