<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="common-form">
      <h1>Login</h1>
    <mat-error style="max-width: fit-content">{{ error | async }}</mat-error>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>email</mat-label>
        <input matInput type="text" placeholder="email..." name="email" required formControlName="email">
        <mat-error *ngIf="loginForm.get('email').invalid">{{ emailErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password..." name="password" required formControlName="password">
        <mat-error *ngIf="loginForm.get('password').invalid">{{ passwordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <button mat-stroked-button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
