<h3>User's plans</h3>
<mat-divider class="mb-3"></mat-divider>
<div class="d-flex flex-column">
  <mat-form-field class="col-sm-3">
    <mat-select [formControl]="selectedTypeControl">
      <mat-option value="0">Created plans</mat-option>
      <mat-option value="1">Requesting plans</mat-option>
      <mat-option value="2">Following plans</mat-option>
      <mat-option value="3">Joined plans</mat-option>
    </mat-select>
  </mat-form-field>
  <ul class="list-unstyled">
    <li *ngFor="let plan of selectedPlans">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ plan.id }} {{ plan.title }}
        </mat-expansion-panel-header>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column mr-4">
            <img [src]="plan.cover | imageUrl" [alt]="plan.description" height="100px" width="200px">
          </div>
          <div class="d-flex flex-column">
            <p>{{ plan.departure }}  {{ plan.start_at }}</p>
            <p>{{ plan.destination }}  {{ plan.arrival_at }}</p>
          </div>
        </div>
        <mat-action-row class="d-flex flex-row justify-content-between">
          <div>
            <button mat-button [routerLink]="['/plans', plan.id]" color="primary">View</button>
          </div>
          <div>
            <button mat-button
                    [style.display]="selectedType == '3' ? '' : 'none'"
                    color="warn" (click)="onLeave(plan.id)">Leave</button>
            <button mat-button
                    [style.display]="selectedType == '2' ? '' : 'none'"
                    color="warn" (click)="onUnfollow(plan.id)">Unfollow</button>
            <button mat-button
                    [style.display]="selectedType == '1' ? '' : 'none'"
                    color="warn" (click)="onLeave(plan.id)">Cancel Request</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </li>
  </ul>
</div>
