/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
/*body { margin: 0; font-family: "Comic Sans MS", "Helvetica Neue", sans-serif; }*/

.form-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.group-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.common-form {
  min-width: 100px;
  max-width: 400px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.button-row button {
  margin-right: 8px;
}
