/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
/*body { margin: 0; font-family: "Comic Sans MS", "Helvetica Neue", sans-serif; }*/

.background-container {
  background-image: url("assets/images/cover3.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100%;
}

.group-section {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.common-form {
  min-width: 100px;
  max-width: 400px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.button-row button {
  margin-right: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
