<mat-nav-list>
  <div class="d-flex flex-row justify-content-between">
    <span>Notifications</span>
    <span>mark all as read</span>
  </div>
  <mat-divider class="mb-2"></mat-divider>
  <div *ngIf="data.length == 0">
    You have no notifications
  </div>
  <div class="d-flex flex-row align-items-center" *ngFor="let notify of data" [ngClass]="notify.readAt == null ? 'bg-info' : 'bg-white'">
    <mat-list-item class="col-11" (click)="openLink($event)">
      <img mat-list-avatar src="{{ notify.sender.avatar | imageUrl }}">
      <span mat-line>{{ notify.message }}</span>
    </mat-list-item>
    <button mat-icon-button matTooltip="mark as read" class="col-1"
            [style.display]="notify.readAt == null ? '' : 'none'"
            (click)="markAsRead(notify.id)">
      <mat-icon class="text-white">drafts</mat-icon>
    </button>
    <button mat-icon-button matTooltip="mark unread" class="col-1"
            [style.display]="notify.readAt != null ? '' : 'none'"
            (click)="markAsRead(notify.id)">
      <mat-icon>markunread</mat-icon>
    </button>
  </div>
</mat-nav-list>
