<div class="d-flex flex-column justify-content-center align-items-center h-100 background-container">
  <mat-horizontal-stepper class="p-3" linear #stepper>
    <mat-step [completed]="userId">
      <ng-template matStepLabel>Register</ng-template>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)"
            class="rounded p-3 bg-white">
        <!--        <h3 class="d-flex justify-content-center mb-4">Register</h3>-->
        <div mat-dialog-content>
          <mat-error style="max-width: fit-content">{{ error | async }}</mat-error>
<!--          <div class="d-flex w-75 justify-content-center mb-3">-->
<!--            <img *ngIf="preview !== null" [src]="preview" alt="avatar image preview" class="rounded" width="100%"-->
<!--                 height="auto">-->
<!--          </div>-->
<!--          <div class="d-flex flex-row">-->
<!--            <button mat-stroked-button type="button" (click)="avatar.click()">Upload Avatar</button>-->
<!--          </div>-->
<!--          <input type="file" style="display: none" (change)="onFileChange($event)" #avatar>-->
          <div class="d-flex flex-row justify-content-between">
            <mat-form-field class="w-50 mr-2" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name..." name="firstname" required
                     formControlName="firstname">
              <mat-error *ngIf="registerForm.get('firstname').hasError('required')">Firstname is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-50" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name..." name="lastname" required
                     formControlName="lastname">
              <mat-error *ngIf="registerForm.get('lastname').hasError('required')">Lastname is required</mat-error>
            </mat-form-field>
          </div>
          <mat-radio-group aria-label="Select an option" class="group-section" formControlName="gender" required>
            <mat-radio-button class="radio-button" value="1">Male</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Female</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Others</mat-radio-button>
          </mat-radio-group>
          <div class="d-flex flex-row justify-content-between">
            <mat-form-field class="w-50 mr-2" appearance="outline">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="birthday" name="birthday" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
              <mat-datepicker #birthday></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-50" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput type="text" placeholder="username..." name="username" required formControlName="name">
              <mat-error *ngIf="registerForm.get('name').hasError('required')">Username is required</mat-error>
              <mat-error *ngIf="registerForm.get('name').hasError('minlength')">Username min length is 6</mat-error>
            </mat-form-field>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <mat-form-field class="w-50 mr-2" appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput type="tel" placeholder="phone number..." name="phone" required formControlName="phone">
              <mat-error *ngIf="registerForm.get('phone').hasError('required')">Phone number is required</mat-error>
              <mat-error *ngIf="registerForm.get('phone').hasError('minlength')">Phone number min length is 5
              </mat-error>
              <mat-error *ngIf="registerForm.get('phone').hasError('maxlength')">Phone number max length is 11
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-50" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="email..." name="email" required formControlName="email">
              <mat-error *ngIf="registerForm.get('email').hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('email')">Email format is not valid</mat-error>
            </mat-form-field>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <mat-form-field class="w-50 mr-2" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="password..." name="password" required
                     formControlName="password">
              <mat-error *ngIf="registerForm.get('password').hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Password min length is 3</mat-error>
            </mat-form-field>
            <mat-form-field class="w-50" appearance="outline">
              <mat-label>Password Confirmation</mat-label>
              <input matInput type="password" placeholder="re-enter password..." name="password-confirmation" required
                     formControlName="password_confirmation">
              <mat-error *ngIf="registerForm.get('password_confirmation').invalid">Password confirmation is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-2">
          <button mat-stroked-button type="submit" class="mr-1" color="primary">Register</button>
          <button mat-stroked-button type="button" matStepperNext color="accent">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Update avatar</ng-template>
      <div class="d-flex flex-column align-items-center">
        <div>
          <div *ngIf="preview; then previewAvatar else placeholderAvatar"></div>
          <ng-template #previewAvatar>
            <img src="{{ preview }}" alt="preview avatar" width="200" height="250">
          </ng-template>
          <ng-template #placeholderAvatar>
            <img src="../../../../assets/images/avatar/avatar.png" alt="placeholder avatar" width="200" height="250">
          </ng-template>
          <input type="file" style="display: none" #uploadAvatar (change)="onFileChange($event)">
        </div>
        <div class="mt-2">
          <button mat-stroked-button (click)="uploadAvatar.click()" class="mr-1" color="primary">Upload</button>
          <button mat-stroked-button (click)="onUpdateAvatar()" class="mr-1" color="primary">Save</button>
          <button mat-stroked-button class="mr-1" matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext color="accent">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Choose tags</ng-template>
      <div class="">
        <app-tag [taggableId]="userId" [taggableType]="TAG_USER" [isDialog]="false"></app-tag>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Registered successfully</p>
      <div class="mt-2">
        <button mat-stroked-button class="mr-1" matStepperPrevious>Back</button>
        <button mat-stroked-button (click)="onGoHome()" color="primary">Explore</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
