<div fxLayout="row" fxLayoutGap="5px">
  <button mat-raised-button
          [style.display]="(!membership.includes(_PENDING) && !membership.includes(_MEMBER)) && planStatus ? '' : 'none'"
          (click)="onSendRequest()" color="primary">
    <mat-icon>add</mat-icon>
    Send Request
  </button>

  <button mat-raised-button color="primary"
          [style.display]="membership.includes(_PENDING) ? '' : 'none'"
          [matMenuTriggerFor]="pendingMenu">
    Pending
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #pendingMenu>
    <button mat-menu-item (click)="onLeave()">Cancel</button>
  </mat-menu>

  <button mat-raised-button color="primary"
          [style.display]="membership.includes(_MEMBER) ? '' : 'none'"
          [matMenuTriggerFor]="joinedMenu">
    Joined
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #joinedMenu>
    <button mat-menu-item (click)="onLeave()">Leave</button>
  </mat-menu>

  <button mat-raised-button
          [style.display]="!membership.includes(_FOLLOWING) ? '' : 'none'"
          (click)="onFollow()">
    Follow
  </button>

  <button mat-raised-button color="primary"
          [style.display]="membership.includes(_FOLLOWING) ? '' : 'none'"
          [matMenuTriggerFor]="followMenu">
    Following
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #followMenu>
    <button mat-menu-item (click)="onUnfollow()">
      Unfollow
    </button>
  </mat-menu>
</div>

