<div class="form-container">
  <form [formGroup]="createPlanForm" (ngSubmit)="onSubmit(createPlanForm.value)" class="common-form">
    <h1>Create New Plan</h1>
    <mat-error style="max-width: fit-content">{{ error | async }}</mat-error>
    <img *ngIf="preview !== null" [src]="preview" alt="cover image preview" width="100" height="50">
    <input type="file" style="display: none" (change)="onFileChange($event)" #cover>
    <button mat-button type="button" (click)="cover.click()" >Upload Cover</button>
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Title</mat-label>
      <input matInput type="text" placeholder="title..." name="title" formControlName="title">
      <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" placeholder="describe your plan..." name="description" formControlName="description"></textarea>
      <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
    </mat-form-field>
    <table><tr>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>Departure</mat-label>
        <input matInput type="text" placeholder="where to start..." name="departure" formControlName="departure">
        <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>Start at</mat-label>
        <input matInput [matDatepicker]="startAt" name="start_at" formControlName="start_at">
        <mat-datepicker-toggle matSuffix [for]="startAt"></mat-datepicker-toggle>
        <mat-datepicker #startAt></mat-datepicker>
        <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
      </mat-form-field></td>
    </tr></table>
    <table><tr>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>Destination</mat-label>
        <input matInput type="text" placeholder="where to arrive..." name="destination" formControlName="destination">
        <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>Arrive at</mat-label>
        <input matInput [matDatepicker]="arriveAt" name="arrival_at" formControlName="arrival_at">
        <mat-datepicker-toggle matSuffix [for]="arriveAt"></mat-datepicker-toggle>
        <mat-datepicker #arriveAt></mat-datepicker>
        <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
      </mat-form-field></td>
    </tr></table>
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Member Quantity</mat-label>
      <input matInput type="number" placeholder="expected participants number..." name="members_quantity" min="2" formControlName="members_quantity">
      <mat-error *ngIf="createPlanForm.get('title').invalid"></mat-error>
    </mat-form-field>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" [disabled]="createPlanForm.invalid" color="primary">Submit</button>
  </form>
</div>
