<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" class="common-form">
    <h1>Register</h1>
    <mat-error style="max-width: fit-content">{{ error | async }}</mat-error>
    <table class="full-width"><tr>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" placeholder="First Name..." name="firstname" required formControlName="firstname">
        <mat-error *ngIf="registerForm.get('firstname').invalid">{{ firstlastnameErrorMessage('firstname') }}</mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="full-width" appearance="standard">
        <mat-label>Last Name:</mat-label>
        <input matInput type="text" placeholder="Last Name..." name="lastname" required formControlName="lastname">
        <mat-error *ngIf="registerForm.get('lastname').invalid">{{ firstlastnameErrorMessage('lastname') }}</mat-error>
      </mat-form-field></td>
    </tr></table>
    <div>
      <label>Gender:</label>
      <mat-radio-group aria-label="Select an option" class="group-section" formControlName="gender" required>
        <mat-radio-button class="radio-button" value="1">Male</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">Female</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">Others</mat-radio-button>
        <mat-error *ngIf="registerForm.get('gender').touched && registerForm.get('gender').invalid">{{ genderErrorMessage() }}</mat-error>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Birthday:</mat-label>
        <input matInput [matDatepicker]="birthday" name="birthday" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
        <mat-error *ngIf="registerForm.get('birthday').invalid">{{ birthdayErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Username:</mat-label>
        <input matInput type="text" placeholder="username..." name="username" required formControlName="username">
        <mat-error *ngIf="registerForm.get('username').invalid">{{ usernameErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Phone:</mat-label>
        <input matInput type="tel" placeholder="phone number..." name="phone" required formControlName="phone">
        <mat-error *ngIf="registerForm.get('phone').invalid">{{ phoneErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="email..." name="email" required formControlName="email">
        <mat-error *ngIf="registerForm.get('email').invalid">{{ emailErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Password:</mat-label>
        <input matInput type="password" placeholder="password..." name="password" required formControlName="password">
        <mat-error *ngIf="registerForm.get('password').invalid">{{ passwordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Password Confirmation:</mat-label>
        <input matInput type="password" placeholder="re-enter password..." name="password-confirmation" required formControlName="password_confirmation">
        <mat-error *ngIf="registerForm.get('password_confirmation').invalid">{{ passwordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <button mat-stroked-button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
