<mat-toolbar color="primary">
  <span><a [routerLink]="['/']" class="title">
    <img src="../../../assets/logo/logo3.png" alt="logo" height="150" width="150">
  </a></span>
  <span class="fill-space"></span>
  <mat-form-field appearance="standard" class="w-25 form-field">
    <mat-label>Search for a plan</mat-label>
    <input matInput
           placeholder="search"
           [formControl]="searchControl"
           [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="onDisplayValue.bind(this)">
      <mat-option *ngIf="isSearching">
        <mat-spinner diameter="24"></mat-spinner>
      </mat-option>
      <ng-container *ngIf="!isSearching">
        <mat-option *ngIf="suggestPlans.length == 0">
          <small>There's no plans match your search</small>
        </mat-option>
        <mat-option *ngFor="let plan of suggestPlans" [value]="plan.id" (click)="onSuggestionClick(plan.id)">
          {{ plan.title }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <span class="fill-space"></span>
  <span><button mat-stroked-button (click)="openPlanCreateDialog()" color="primary" class="bg-white">New Plan</button></span>
  <div *ngIf="currentUser;then avatar else login"></div>
  <ng-template #login>
    <span><button mat-button [routerLink]="['/auth/login']" color="accent">login</button></span>
    <span><button mat-button [routerLink]="['/auth/register']" color="accent">register</button></span>
  </ng-template>
  <ng-template #avatar>
    <span>
      <button mat-icon-button (click)="openNotificationSheet()">
        <mat-icon [matBadge]="unreadNotificationsNumber.toString()"
                  matBadgeColor="warn" matBadgeSize="small"
                  [matBadgeHidden]="unreadNotificationsNumber <= 0">
          notifications
        </mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <img src="{{ currentUser.avatar | imageUrl}}" alt="user avatar" class="rounded-circle" width="25">
      </button>
      <mat-menu #userMenu>
        <button mat-menu-item [routerLink]="['/users/' + currentUser.id]">profile</button>
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </span>
  </ng-template>
</mat-toolbar>
